In [10]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
import numpy as np
import matplotlib.pyplot as plt

In [87]:
whisky = pd.read_csv('whisky.csv')
whisky.tail(10)

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
76,77,Strathmill,2,3,1,0,0,0,2,0,2,1,3,2,AB55 5DQ,342650,850500
77,78,Talisker,4,2,3,3,0,1,3,0,1,2,2,0,IV47 8SR,137950,831770
78,79,Tamdhu,1,2,1,0,0,2,0,1,1,2,2,2,AB38 7RP,319210,841760
79,80,Tamnavulin,1,3,2,0,0,0,2,0,2,1,2,3,AB37 9JA,321180,826110
80,81,Teaninich,2,2,2,1,0,0,2,0,0,0,2,2,IV17 0XB,265360,869120
81,82,Tobermory,1,1,1,0,0,1,0,0,1,2,2,2,PA75 6NR,150450,755070
82,83,Tomatin,2,3,2,0,0,2,2,1,1,2,0,1,IV13 7YT,279120,829630
83,84,Tomintoul,0,3,1,0,0,2,2,1,1,2,1,2,AB37 9AQ,315100,825560
84,85,Tormore,2,2,1,0,0,1,0,1,2,1,0,0,PH26 3LR,315180,834960
85,86,Tullibardine,2,3,0,0,1,0,2,1,1,2,2,1,PH4 1QG,289690,708850

In [92]:
whisky.isnull().sum().sum()

86

In [93]:
 whisky.fillna(whisky.mean())

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
0,1,NaN,2,2,2,0,0,2,1,2,2,2,2,2,\tPH15 2EB,286580,749680
1,2,NaN,3,3,1,0,0,4,3,2,2,3,3,2,\tAB38 9PJ,326340,842570
2,3,NaN,1,3,2,0,0,2,0,0,2,2,3,2,\tAB5 5LI,352960,839320
3,4,NaN,4,1,4,4,0,0,2,0,1,2,1,0,\tPA42 7EB,141560,646220
4,5,NaN,2,2,2,0,0,1,1,1,2,3,1,1,\tAB54 4NH,355350,829140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,82,NaN,1,1,1,0,0,1,0,0,1,2,2,2,PA75 6NR,150450,755070
82,83,NaN,2,3,2,0,0,2,2,1,1,2,0,1,IV13 7YT,279120,829630
83,84,NaN,0,3,1,0,0,2,2,1,1,2,1,2,AB37 9AQ,315100,825560
84,85,NaN,2,2,1,0,0,1,0,1,2,1,0,0,PH26 3LR,315180,834960
85,86,NaN,2,3,0,0,1,0,2,1,1,2,2,1,PH4 1QG,289690,708850

In [94]:
whisky['Distillery'] = pd.to_numeric(whisky['Distillery'], errors='coerce')  #to convert everything to float

In [102]:
x = whisky.iloc[:, [0,1,2,3]].values  #Assigning features to X to train these features

In [104]:
wcss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(x)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 11), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').